@import url("https://fonts.googleapis.com/css?family=Fira+Code&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 100%;
  line-height: 20px;
}

.App {
  display: flex;
  height: 100vh;
  color: #f4f4f4;
  background: #333;
  align-items: center;
  flex-flow: column wrap;
  font-family: "Fira Code", monospace;
}

.App_input,
.App_button {
  border: 0;
  outline: none;
  padding: 5px 15px;
  margin-bottom: 15px;
  box-shadow: 1px 2px 0 #f4f4f4;
}

.App_button {
  color: #333;
  opacity: 0.9;
  cursor: pointer;
  background: #ffb070;
}

.App_button:hover {
  opacity: 1;
  color: #333;
  cursor: pointer;
  background: #ffb070;
}

.App_button:active {
  opacity: 1;
  color: #333;
  cursor: pointer;
  background: #ffb070;
  transform: translate(1px, 1px);
  box-shadow: 0 0 0 #f4f4f4;
}

a {
  color: #f1f1f1;
  text-decoration: none;
}

.Counter {
  margin: 5px;
  padding: 15px;
  border-radius: 16px;
  border: 1px solid #ccc;
}
